<nav
  class="flex fixed justify-between w-full items-center px-6 top-0 p-3 sm:text-2xl z-20 uppercase"
  [ngClass]="{ '': rla.isActive }"
>
  <a routerLinkActive #rla="routerLinkActive" [routerLink]="['/']">
    Youssef Hanna
  </a>
  <div class="font-Utile sm:text-2xl flex justify-between items-center gap-6">
    <a
      routerLinkActive
      #rlaArchive="routerLinkActive"
      [routerLink]="['/archive']"
    >
      Archive</a
    >
    <a routerLinkActive #rlaMe="routerLinkActive" [routerLink]="['/me']">Me</a>
  </div>
</nav>
