<div class="flex flex-col gap-4 w-full justify-center items-center">
  <div>
    <div
      class="w-full h-full flex justify-center items-center relative font-noto_arabic_secondary cursor-pointer group hover:scale-105"
    >
      <img
        src="/assets/landing2.JPG"
        class="object-cover max-w-[20rem] sm:max-w-[30rem] w-full h-full rounded"
        alt=""
      />
      <div class="absolute flex w-full h-full flex-col justify-center items-center">
        <div
          class="font-noto_arabic_secondary cursor-pointer text-6xl md:text-6xl font-bold text-orange-300 drop-shadow-[2px_2px_0px_rgba(22,160,133,1)] z-50"
        >
          ابو ماهر
        </div>
        <div
          class="font-noto_arabic_secondary cursor-pointer text-3xl font-bold text-orange-300 drop-shadow-[1px_1px_0px_rgba(22,160,133,1)] z-50"
        >
          ABU MAHER
        </div>
      </div>
      <!-- Applicato il gruppo hover sull'intero div del contenitore -->
      <div class="absolute w-full h-full flex p-3 flex-col text-orange-300 drop-shadow-[0.5px_0.5px_0px_rgba(22,160,133,1)] justify-between md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-300">
        <div class="flex font justify-between">
            <div>ZABBALIN</div>
            <div class="text-3xl">زبالين</div>
        </div>
        <div class="flex justify-between items-end">
            <div>10/08/2024</div>
            <div class="text-2xl">۱۰/۰۸/۲۰۲٤</div>
        </div>
      </div>
    </div>
  </div>
  <div class="">Don't need anything else</div>
</div>
